
{% extends 'base.html' %}
{% load static%}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}



      <section class="col-md-6  col-sm-12">
        {% for question in questions %}

            <article class="uk-comment">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" src="http://upload.wikimedia.org/wikipedia/commons/4/46/Jennifer_Lawrence_at_the_83rd_Academy_Awards.jpg" width="40" height="40" alt="">
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li><a href="#">{{question.user.username}}</a></li>
                        </ul>

                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-subnav-divider uk-margin-remove"><a class="uk-link-reset" href="#">{{question.topic|upper}}</a></h4>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p>
                         <a href="{% url 'SingleQuestion' question.id %}">
                        </a>
                    </p>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider">
                        <li><a href="#">12 days ago</a></li>
                        <li><a href="#">Reply</a></li>
                    </ul>
                </div>
                <hr class="uk-divider-icon">
            </article>

        {% endfor %}

      </section>



{% endblock %}
