
{% extends 'base.html' %}
{% load static%}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}


      <hr style="color:rgb(19, 175, 167);">


      <section class="col-md-5">
        {% if sessions %}
        {% for session in sessions %}
          <div class="wrap col-md-12"style="">
              <div class="box well col-sm-12" >
                {% if session.Availability == False %}
                <div class="" style="margin-bottom:30px;">
                  <span style="color:rgb(35, 106, 180)">Available</span>
                </div>

                <div class="" style="margin-bottom:30px;">
                  <span style="color:rgb(35, 106, 180)">Dr. {{session.doctor.name}}</span>
                </div>

                <div class="" style="margin-bottom:30px;">
                   <span style="color:rgb(35, 106, 180)">Duration: {{session.duration}}</span>
                </div>

                <div class="" style="margin-bottom:30px;">
                   <span style="color:rgb(35, 106, 180)">Date: {{session.sloted_date}}</span>
                </div>
                <a href="{% url 'Reserve' session.id %}">
                  <button type="button" name="button" class="btn btn-primary"> Book</button>
                </a>
                {% else %}
                <div class="" style="margin-bottom:30px;">
                  <span style="color:rgb(35, 106, 180)">No available sessions</span>
                </div>
                {% endif %}


            </div>
          </div>
                <hr style="color:rgb(19, 175, 167);">
        {% endfor %}
        {% else %}
        <div class="" style="margin-bottom:30px;">
          <span style="color:rgb(35, 106, 180)"> Sorry {{request.user.username|title}}, There are no available sessions. Come back later</span>
        </div>
        {% endif %}

      </section>

{% endblock %}
