
{% extends 'base.html' %}
{% load static%}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}


      <hr style="color:rgb(19, 175, 167);">


      <section class="col-md-5">
        <p uk-margin>
          <a href="{% url 'ViewSessions' %}">
            <button class="uk-button uk-button-default uk-button-large">View Sessions</button>
          </a>
          <a href="{% url 'ViewSessions' %}"> 
            <button class="uk-button uk-button-primary uk-button-large">My Appointments</button>
          </a>
        </p>
      
      </section>

{% endblock %}
